<p>userfunctionality works!</p>

<!-- this is the structure for the user functionality of yacs


UserfunctionalityComponent
+
|
|DoormanComponent
+-------------
| this component handles:
| logging in
| forgot password
| account creation
|
|
|
|
|
|DashboardComponent (the user should only be able to see this component after they have logged in using the components contained in DoormanComponent)
+--------------
| this component handles:
| delete account
| log out pages
| watchlist display and editing
| notification configuration for the user (allow the user to select where they want to be notified about courses on their watchlist that are updated)
|
|
|
|
|
|
|DashboardComponent
|
v



//this component checks whether or not the user is logged in and displays either the DoormanComponent(user is not yet logged in) or the DashboardComponent(user is logged in) -->
