<p>userfunctionality works!</p>
/*

this is the structure for the user functionality of yacs
UserfunctionalityComponent
+
|
|DoormanComponent 
+------------->
| this component handles:
| logging in
| forgot password
| account creation
|
|
|
|
|
|DashboardComponent
+-------------->
| this component handles:
| delete account
| log out pages
| watchlist display and editing
| notification configuration for the user (allow the user to select where they want to be notified about courses on their watchlist that are updated)
|
|
|
|
|
|
|DashboardComponent
|
v






*/
